[Unit]
Description=DotTest Daemon Service
After=network.target

[Service]
ExecStart=/usr/bin/dottest daemon
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
